name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Install wasm-bindgen
        run: cargo install wasm-bindgen-cli --version 0.2.108

      - name: Build Project
        run: cargo build --release --target wasm32-unknown-unknown

      - name: Run wasm-bindgen
        run: |
          # Remplace 'bevy_tuto' par le nom exact de ton binaire (souvent le nom du projet)
          # Note: les '-' deviennent des '_' dans le nom du .wasm
          wasm-bindgen --target web \
                       --out-dir ./out \
                       --no-typescript \
                       target/wasm32-unknown-unknown/release/bevy-tuto.wasm

      - name: Generate index.html
        run: |
          cat <<EOF > out/index.html
          <!DOCTYPE html>
          <html lang="fr">
          <head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Bevy Game</title>
              <style>
                  body { margin: 0; background-color: #111; overflow: hidden; display: flex; justify-content: center; align-items: center; height: 100vh; }
                  canvas { width: 100vw; height: 100vh; display: block; outline: none; }
              </style>
          </head>
          <body>
              <script type="module">
                  import init from './bevy_tuto.js';
                  async function run() {
                      try {
                          await init();
                      } catch (error) {
                          if (!error.message.startsWith("Using exceptions for control flow,")) {
                              console.error(error);
                          }
                      }
                  }
                  run();
              </script>
          </body>
          </html>
          EOF

      - name: Copy Assets
        run: |
          # On copie le dossier assets s'il existe
          if [ -d "src/assets" ]; then cp -r src/assets out/; fi

      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload dist folder
          path: 'out'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
      
